name: Playwright Tests in ubuntu-latest
on:
  pull_request:
    branches: [main, master]
    paths:
      - 'frontend/**'
  workflow_dispatch:


jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: frontend

      - name: Run changed Playwright tests
        run: npx playwright test --project=chromium --only-changed=origin/$GITHUB_BASE_REF
        if: github.event_name == 'pull_request'
        working-directory: frontend

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
